﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucSwitchButton.ascx.vb" Inherits="WebWMS.ucSwitchButton" %>
<asp:CheckBox ID="chk" runat="server" Checked="true" /><asp:Button ID="btn" runat="server" style="display:none;" />